*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    max-width: 100%;
}

main{
    min-height: 100vh;
    width: 100%;
}

:root{
    --bg-gray-oscuro-transparente: #08164007;
    --border-btm-header: #8080803d;
    --border-top-footer: #75757515;

    --gray : #757575;
    --negro: #0D0D0D;
    --green: rgba(3, 208, 23, 0.645);
    --bg-oscuro-transparente: rgba(0, 0, 0, 0.611);
    --bg-gray-transparente: rgba(119, 119, 119, 0.363);

    --bg-linear-gradient: linear-gradient(70deg, rgba(8, 18, 71, 0.539), rgba(22, 72, 143, 0.316),rgba(172, 26, 205, 0.219));

    --bg-scrollbar: rgb(1, 4, 21);
    --bg-scrollbar-thumb: rgba(148, 148, 148, 0.787); 
    --bg-scrollbar-thumb-hover:rgba(3, 208, 23, 0.645);
}