.content-principal{
    margin-top: 20px;
    height: 850px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.content-principal__area-principal{
    padding: 50px 0 20px 0;
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.area-principal__textarea{
    text-align: center;
    width: 600px;
    height: 400px;
    font-size: 1.8rem;
    color: var(--azul-claro);
    text-transform:lowercase;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

.area-principal__textarea-label{
    color: var(--main-text);
    font-size: 1.2rem;
    padding: 20px 0;
}

.area-principal__textarea-label-icon{
    padding: 0 7px;
}

.content-principal__area-principal-buttons{
    display: flex;
    flex-direction: row;
}
.boton-encriptar, .boton-desencriptar{
    padding: 10px 20px;
    margin: 10px 20px; 
    width: 260px;
    height: 50px;
    background: rgba(0, 0, 0, 0.611);
    border-radius: 24px;
    border: none;
    color: var(--gris);
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.2s;
}

.boton-encriptar:hover, .boton-desencriptar:hover{
    background: rgba(119, 119, 119, 0.363);
    color: var(--negro);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    border: solid 1px var(--azul-claro);
    
}

.boton-encriptar:active, .boton-desencriptar:active{
    background: linear-gradient(70deg, rgba(8, 18, 71, 0.539), rgba(22, 72, 143, 0.316),rgba(172, 26, 205, 0.219));
    transition: none;
}


.content-principal__area-secundaria{
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    height: 850px;
}

.content-principal__area-secundaria-messagebox{
    background: rgba(0, 0, 0, 0.611);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    display: none;
    /*provisorio*/
}

.content-principal__area-secundaria-messagebox-img{
    width: 400px;
    height: 290px;
}
.content-principal__area-secundaria-messagebox-text{
    color: var(--gris);
    font-size: 1rem;
    font-weight: 300;
    text-align: center;
    padding-bottom: 10px;
}

.content-principal__area-secundaria-messagebox-textarea{
    background: rgba(0, 0, 0, 0.611);
    box-sizing: border-box;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    height: 600px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* display: none; */
   
}

.div-mensaje{
    width: 80%;
    height: 70%;
    text-align: center;
    font-size: 1.8rem;
    color: var(--azul-claro);
    text-transform:lowercase;
    background: transparent;
    border: none;
    outline: none;
    resize: none;
}

.boton-copiar{
    width: 260px;
    height: 50px;
    background: rgba(0, 0, 0, 0.611);
    border-radius: 24px;
    border: none;
    color: var(--gris);
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.2s;
}

.boton-copiar:hover{
    background: rgba(119, 119, 119, 0.363);
    color: var(--negro);
    -webkit-transform: scale(1.02);
    transform: scale(1.02);
    border: solid 1px var(--azul-claro);
}

.boton-copiar:active{
    background: linear-gradient(70deg, rgba(8, 18, 71, 0.539), rgba(22, 72, 143, 0.316),rgba(172, 26, 205, 0.219));
    transition: none;
}




