body{
    background: url(/assets/img/background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; 
    background-attachment: fixed;
}