body{
    background: url(/assets/img/background.jpg) no-repeat center/ cover;
    /* background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; */
    background-attachment: fixed;
    height: 100vh;
}