@media screen and (max-width: 1150px) {
    main{
        height: 1400px;
    }

    .header{
        grid-template-columns: 1fr 1fr;
    }

    .header__encryptor-title{
        justify-content: flex-end;
        padding-right: 20px;
    }

    .header__menu-nav{
        display: none;
    }

    .content-principal{
        grid-template-columns: 1fr;
        height: auto;
    }

    .content-principal__area-secundaria{
        justify-content: center;
        padding-right: 0;
    }
}

@media screen and (max-width: 750px) {
    .area-principal__textarea{
        width: 400px;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 150px;
        font-size: 1rem;
    }

    .footer{
        grid-template-columns: 1fr;
    }

    .footer__powered{
        padding-bottom: 10px;
    }
    .footer__copyright, .footer__socialmedia{ 
        justify-content: center;
    }
    .footer__copyright{
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .header{
        grid-template-columns: 1fr 3fr;
    }

    .header__encryptor-title-text{
        font-size: 1.5rem;
    }

    .area-principal__textarea{
        width: 250px;
        height: 300px;
        font-size: 1.3rem;
    }

    .area-principal__textarea-label{
        font-size: 0.9rem;
    }

    .content-principal__area-secundaria-messagebox{
        width: 300px;
    }

    .content-principal__area-secundaria-messagebox-img{
        width: 270px;
        height: 180px;
    }

    .content-principal__area-secundaria-messagebox-text{
        font-size: 0.8rem;
    }

    .footer__powered-text{
        font-size: 0.9rem;
    }

    .footer__socialmedia-lista-item-svg{
        
        width: 16px;
        height: 16px;
    }

    .content-principal__area-secundaria-messagebox-textarea{
        width: 300px;
        height: 500px;
    }

    .div-mensaje{
        font-size: 1.4rem;
    }
    .boton-copiar{
        width: 200px;
        height: 40px;
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 400px) {
    main{
        height: 1200px;
    }
    .header__encryptor-title{
        justify-content: center;
        padding-right: 5px;
    }
    .area-principal__textarea-label{
        font-size: 0.7rem;
    }
    .content-principal__area-principal-buttons{
        flex-direction: column;
    }

    .boton-encriptar, .boton-desencriptar{
        width: 250px;
        margin: 10px 0;
        font-size: 1.4rem;
    }

    .content-principal__area-secundaria{
        height: 600px;
    }
    .content-principal__area-secundaria-messagebox{
        width: 270px;
        height: 500px;
    }

    .content-principal__area-secundaria-messagebox-text{
        font-size: 0.7rem;
    }

    .footer__socialmedia-lista{
        padding-right: 0;
    }

    
}