body::-webkit-scrollbar{
    width: 12px;
    background: var(--bg-scrollbar);
}

body::-webkit-scrollbar-thumb{
    background: var(--bg-scrollbar-thumb);
    border-radius: 8px;
    border-right: 2px solid  black;
    border-left: 2px solid  black;  
}

body::-webkit-scrollbar-thumb:hover{
    background: var(--bg-scrollbar-thumb-hover);
}